#bag img {
  object-fit: cover;
  object-position: center;
}

#bag .brust {
  background-image: url("../bag-burst.png");
  object-fit: cover;
  object-position: center;
}

#controls button {
  padding: 10px 20px;
  border: 1px solid crimson;
  background-color: crimson;
  color: black;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 2s ease-in-out;
}
#controls button:first-child {
  margin-right: 30px;
}
#controls button:hover {
  background-color: rgba(220, 20, 60, 0.5);
  border: 1px solid black;
}

#bag-health {
  width: 200px;
  border: 3px solid black;
  margin: 0 auto 20px auto;
}
#bag-health div {
  height: 20px;
  background-color: crimson;
}

#bag{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#controls{
  display: flex;
  justify-content: center;
}